<% content_for :header do -%>
	Editar idioma para <%= configatron.site_name %>
<% end -%>

<% content_for :sidebar do -%>
	<%= render :partial => 'help' %>
<% end -%>

<%= error_messages_for :language %>

<% form_for @language, :url => admin_language_path do |f| -%>
	<%= render :partial=> "form", :locals=>{:f=>f}%>
	<p><%= submit_tag 'Gravar' %></p>
<% end -%>

<%= link_to 'Voltar', admin_languages_path %>
