<% content_for :header do -%>
	<%= configatron.site_name %> Linguagens
<% end -%>

<% content_for :sidebar do -%>
	<p class="cssbutton">
		<%= link_to '<span>Nova Linguagem</span>', new_admin_language_path %>
	</p>
<% end -%>

<table class="index">
  <tr>
	<th>ID</th>
	<th>Nome</th>
	<th>Permalink</th>
	<th>Data Criação</th>
  </tr>

<% for lang in @languages %>
  <tr>
	<td><%=h lang.id %></td>
	<td><%= link_to h(lang.name), admin_language_url(lang) %></td>
	<td><%=h lang.permalink %></td>
	<td><%=h lang.created_at %></td>
    <td class="actions">
		<%= link_to 'Apagar', admin_language_url(lang), :method => :delete, :confirm => "Are you sure?" %>		
	</td>
  </tr>
<% end %>
</table>

<%= will_paginate @languages %>

