<% content_for :header do -%>
	Editar página de <%= configatron.site_name %>
<% end -%>
<%= render :partial=>'/admin/shared/tabs_pages'%> 

<%= error_messages_for :page %>

<% form_for @page, :url => admin_page_path do |f| -%>
	<%= render :partial=> "form", :locals=>{:f=>f}%>
	<span class="roundbutton"><input type="image" src="<%= t('button.edit')%>" name="image" width="144" height="47"/></span> <span class="goback"><%= link_to t('go_back'), admin_pages_path %></span>
	<div class="clear"></div>
<% end -%>

