<% content_for :header do -%>
	Ver pagina de <%= configatron.site_name %>
<% end -%>
<%= render :partial=>'/admin/shared/tabs_pages'%> 
<table class="overview">
	<%= cell "ID", h(@page.id) %>
	<%= cell "Permalink", h(@page.permalink) %>
	<%= cell_separator %>

	<%= cell "Nome", h(@page.name) %>
	<%= cell "Estado", h(@page.state) %>
	<%= cell "Corpo da página", @page.body %>

	<%= cell_separator %>
	
	<%= cell "Data de criação", data_pt(@page.created_at ) %>
	<%= cell "Última actualização", data_pt(@page.updated_at ) %>
</table>

<%= link_to 'Editar', edit_admin_page_path(@page) %> | <%= link_to 'Voltar ', admin_pages_path %>

