<% if @profile.nil? -%>
	<% content_for :header do -%>
		Perfil não existe.
	<% end -%>
	
	<p>O perfil que pediu não existe.</p>
<% else -%>
	<% content_for :header do -%>
		Editar o meu perfil
	<% end -%>

	<%= render :partial => 'profiles/my_account' if current_user == @user %>

	<% unless @profile.user.not_using_openid? %>
	<p>
		Este é o perfil do site <%= configatron.site_name %>. Não está relacionado com o seu perfil OpenId.
	</p>
	<% end %>
	
	<% form_for :profile, @profile, :url => profile_url(@profile.user), :html => {:method => :put} do |f| %>
	
	<% @profile.public_attributes.each do |column| -%>
		<p><label><%= column.humanize %></label><br />
		<%= input "profile", "#{column}", :value => @profile.send(column) %>
		</p>
	<% end -%>
	
	<p><%= submit_tag "Guardar alterações" %> ou <%= link_to "voltar atrás", profile_url(@user) %></p>
	
	<% end %>
<% end -%>