<% content_for :header do -%>
	 Asset<% end -%>

<% content_for :sidebar do -%>
	<p class="cssbutton">
		<%= link_to '<span>Novo Asset</span>', new_admin_asset_path %>
	</p>
	<%= render :partial=>'help' %>
<% end -%>

<% render :layout => "/admin/shared/table_header" do %>
	<th><%= link_to_sort(Asset.human_attribute_name(:id), :id) %></th>
		<th><%= link_to_sort(Asset.human_attribute_name(:data_file_name), :data_file_name) %></th>
		<th><%= link_to_sort(Asset.human_attribute_name(:data_content_type), :data_content_type) %></th>
		<th><%= link_to_sort(Asset.human_attribute_name(:data_file_size), :data_file_size) %></th>
		<th><%= link_to_sort(Asset.human_attribute_name(:assetable_id), :assetable_id) %></th>
		<th><%= link_to_sort(Asset.human_attribute_name(:assetable_type), :assetable_type) %></th>
		<th><%= link_to_sort(Asset.human_attribute_name(:type), :type) %></th>
		<th><%= link_to_sort(Asset.human_attribute_name(:user_id), :user_id) %></th>
		<th><%= link_to_sort(Asset.human_attribute_name(:created_at), :created_at) %></th>
		<th><%= link_to_sort(Asset.human_attribute_name(:updated_at), :updated_at) %></th>
	
<% end %>
<thbody>
<% @assets.each do |asset| %>
  <tr>
	<td><%= asset.id %></td>
		<td><%= asset.data_file_name %></td>
		<td><%= asset.data_content_type %></td>
		<td><%= asset.data_file_size %></td>
		<td><%= asset.assetable_id %></td>
		<td><%= asset.assetable_type %></td>
		<td><%= asset.type %></td>
		<td><%= asset.user_id %></td>
		<td><%= asset.created_at %></td>
		<td><%= asset.updated_at %></td>
		
	<td class="actions">
		<%= link_to 'Editar', edit_admin_asset_path(asset) %>
		<%= link_to 'Apagar', admin_asset_url(asset), :method => :delete, :confirm => "Tem a certeza?" %>		
	</td>
  </tr>
<% end %>
</thbody>
</table> 
<%= will_paginate @assets %>