
<%= javascript_include_tag :fckeditor %>
<p><label for="name">Título</label><br/>
<%= f.text_field :name %></p>

<p><label for="permalink">Permalink</label><br/>
<%= f.text_field :permalink %></p>

<p><label for="lead">Lead</label><br/>
<%= f.text_field :lead %></p>

<p><label for="body">Corpo da página</label><br/>
<%= fckeditor_textarea(:news, :body, :toolbarSet => 'Simple', :width => '100%', :height => '300px') %>
</p>
 
<p><label for="language_id">Língua</label><br/>
<%= f.collection_select :language_id , Language.find(:all), :id, :name, :prompt => 'Escolhe uma opção' %></p>
