<script type="text/javascript">
	$(window).bind('load', function() {
    	$("ul.tabs").tabs("div.panes > div"); 
		$('.on_off_state :checkbox').iphoneStyle({ checkedLabel: 'Activo', uncheckedLabel: 'Draft' });
	});
</script>
<ul class="tabs">
	<li><a href="#">Básico</a></li>
	<li><a href="#">Tradução (EN)</a></li>
 	<li><a href="#" class="s">SEO</a></li>
</ul>

<div class="panes"> 
<div>
	<p><%= f.label :name %>
	<%= f.text_field :name_pt %>
	</p>

	<p><%= f.cktext_area :body_pt, :toolbar=>'Easy', :width=>'95%', :heigth=>'100px' %></p>

	<p><%= f.label :lead %>
	<%= f.text_area :lead_pt , :size=>"57x3"%></p>

 
	<ol class="on_off_state">
   		<li>
     		<p><label class="left" for="state">Estado</label>
     		<%= f.check_box(:state, STATES,'active','draft' ) %>
	 		</p>
   		</li>
	</ol> 
</div>
<div>
	<p><%= f.label :name %>
	<%= f.text_field :name_en %></p>

	<p><%= f.cktext_area :body_en, :toolbar=>'Easy', :width=>'95%', :heigth=>'100px' %></p>

	<p><%= f.label :lead %>
	<%= f.text_area :lead_en, :size=>"57x3" %></p>
</div>
<div>
	<%= render :partial=> "/admin/shared/seo_fields", :locals=>{:f=>f}%>
</div>
</div>