<% content_for :header do -%>
	 Notícias
<% end -%>

<% content_for :sidebar do -%>
	<p class="cssbutton">
		<%= link_to '<span>Nova Notícia</span>', new_admin_newsclip_path %>
	</p>
<% end -%>

<!-- this could be further refactored using partials and layouts... -->
<% render :layout => "/admin/shared/table_header" do %>
	<th><%= link_to_sort News.human_attribute_name(:name), :name_pt %></th>
	<th><%= link_to_sort News.human_attribute_name(:state), :state %></th>
	<th><%= link_to_sort News.human_attribute_name(:created_at), :created_at %></th> 
<% end %>
<thbody>
<% @news.each do |news| %>
  <tr>
	<td><%= link_to h(news.name), admin_newsclip_url(news) %></td>
	<td><%= human_state h(news.state) %></td>
	<td><%=h data_pt news.created_at %></td>
	<td class="actions">
		<%= link_to 'Editar', edit_admin_newsclip_path(news) %>	
		<%= link_to 'Apagar', admin_newsclip_url(news), :method => :delete, :confirm => "Tem a certeza?" %>		
	</td>
  </tr>
<% end %>
</thbody>
</table> 
<%= will_paginate @news %>