<% content_for :header do -%>
	Ver Notícias de <%= configatron.site_name %>
<% end -%>

<% content_for :sidebar do -%>
	<%= render :partial => 'help' %>
<% end -%>

<table class="overview">
	<%= cell "ID", h(@news.id) %>
	<%= cell_separator %>

	<%= cell "Nome", h(@news.name) %>
	<%= cell "Permalink", h(@news.permalink) %>
	<%= cell "Lead da notícia", h(@news.lead) %>
	<%= cell "Corpo da notícia", h(@news.body) %>

	<%= cell_separator %>
	
	<%= cell "Data de criação", data_pt(@news.created_at ) %>
	<%= cell "Última actualização", data_pt(@news.updated_at ) %>

</table>

<%= link_to 'Edit', edit_admin_newsclip_path(@news) %> | <%= link_to 'Voltar ', admin_news_path %>

