<% content_for :header do -%>
	Ver Notícias de <%= configatron.site_name %>
<% end -%>

<% content_for :sidebar do -%>
	<p>
	<h2 class="help"><img src="/images/icons/lightbulb.png" class="icon"/><strong>Ajuda</strong></h2>
	</p>	

	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut ali.
	</p>
<% end -%>

<table class="overview">
	<%= cell "ID", h(@news.id) %>
	<%= cell_separator %>

	<%= cell "Nome", h(@news.name) %>
	<%= cell "Permalink", h(@news.permalink) %>
	<%= cell "Lead da notícia", h(@news.lead) %>
	<%= cell "Corpo da notícia", h(@news.body) %>

	<%= cell_separator %>
	
	<%= cell "Data Criação", @news.created_at.to_s(:long) %>
	<%= cell "Última actualização", @news.updated_at.to_s(:long) %>
</table>

<%= link_to 'Edit', edit_admin_newsclip_path(@news) %> | <%= link_to 'Voltar ', admin_news_path %>

