<% content_for :header do -%>
	Geral
<% end -%>

<% content_for :sidebar do -%>
	<%= render :partial => 'admin/dashboard/sidebar' %>
<% end -%>

<% # TODO: Add your own overview widgets here. Show some statistics etc. %>

<p><%= t('dashboard.welcome')%></p>
	
<h3>Últimas notícias e utilizadores</h3>
<table class="index">
<% for news in @news %>
  <tr>
	<td><div class="stateflag"><span class='aberto'>Notícia</span></div></td>
	<td><%= link_to h(news.name), admin_newsclip_url(news) %></td>
	<td><%= data_pt news.created_at %></td>
  </tr>
<% end %>
<% for user in @users %>
  <tr>
	<td><div class="stateflag"><span class='comrespostas'>Utilizador</span></div></td>
	<td><%= link_to h(user.login), admin_user_url(user) %></td>
	<td><%= data_pt user.created_at %></td>
  </tr>
<% end %>
</table>