
<%= javascript_include_tag :fckeditor %>
<p><label for="name">Nome</label><br/>
<%= f.text_field :name %></p>

<p><label for="permalink">Permalink</label><br/>
<%= f.text_field :permalink %></p>

<p><label for="body">Corpo da página</label><br/>
<%= fckeditor_textarea(:page, :body, :toolbarSet => 'Simple', :width => '100%', :height => '300px') %>
</p>
 
<p><label for="language">Idioma</label><br/>
<%= f.select :language , LANGUAGES, :prompt => 'Escolhe uma opção' %></p>

