<% content_for :header do -%>
	 Textos
<% end -%>

<% content_for :sidebar do -%>
	<p class="cssbutton">
		<%= link_to '<span>Novo Content</span>', new_admin_content_path %>
	</p>
	<%= render :partial=>'help' %>
<% end -%>

<% render :layout => "/admin/shared/table_header" do %>
	<th><%= link_to_sort(Content.human_attribute_name(:name_pt), :name_pt) %></th>
	<th><%= link_to_sort(Content.human_attribute_name(:permalink), :permalink) %></th>
	<th><%= link_to_sort(Content.human_attribute_name(:state), :state) %></th>
	<th><%= link_to_sort(Content.human_attribute_name(:created_at), :created_at) %></th>
<% end %>
<thbody>
<% @contents.each do |content| %>
  <tr>
	<td><%= content.name_pt %></td>
	<td><%= content.permalink %></td>
	<td><%= human_state content.state %></td>
	<td><%= data_pt content.created_at %></td>
	<td class="actions">
		<%= link_to 'Editar', edit_admin_content_path(content) %>
		<%= link_to 'Apagar', admin_content_url(content), :method => :delete, :confirm => "Tem a certeza?" %>		
	</td>
  </tr>
<% end %>
</thbody>
</table> 
<%= will_paginate @contents %>