<% content_for :header do -%>
	<%= configatron.site_name %> Conteúdos
<% end -%>

<% content_for :sidebar do -%>
	<p class="cssbutton">
		<%= link_to '<span>Novo Conteúdo</span>', new_admin_content_path %>
	</p>
<% end -%>

<table class="index tablesorter" id="mytable">
<thead>
  <tr>
	<th>ID</th>
	<th>Nome</th>
	<th>Linguagem</th>
	<th>Data Criação</th>
  </tr>
</thead>
<thbody>
<% for content in @contents %>
  <tr>
	<td><%=h content.id %></td>
	<td><%= link_to h(content.name), admin_content_url(content) %></td>
	<td><%=h content.language %></td>
	<td><%=h data_pt content.created_at %></td>
	<td class="actions">
		<%= link_to 'Editar', edit_admin_content_path(content) %>
		<%= link_to 'Apagar', admin_content_url(content), :method => :delete, :confirm => "Tem a certeza?" %>		
	</td>
  </tr>
<% end %>
</thbody>
</table>
<%= render :partial=>"/admin/shared/table_sorter_jquery"%>

<%= will_paginate @contents %>

