<% content_for :header do -%>
	Criar uma novo conteúdo para <%= configatron.site_name %>
<% end -%>

<% content_for :sidebar do -%>
	<%= render :partial => 'help' %>
<% end -%>

<%= error_messages_for :content %>

<% form_for :content, :url => admin_contents_path do |f| -%>
	<%= render :partial=> "form", :locals=>{:f=>f}%>
	<p><%= submit_tag 'Criar' %></p>
<% end -%>

<%= link_to 'Voltar', admin_contents_path %>
