<% content_for :header do -%>
	Ver conteúdos para <%= configatron.site_name %>
<% end -%>

<% content_for :sidebar do -%>
	<p>
	<h2 class="help"><img src="/images/icons/lightbulb.png" class="icon"/><strong>Ajuda</strong></h2>
	</p>	

	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut ali.
	</p>
<% end -%>

<table class="overview">
	<%= cell "ID", h(@content.id) %>
	<%= cell_separator %>

	<%= cell "Nome", h(@content.name) %>
	<%= cell "Permalink", h(@content.permalink) %>
	<%= cell "Corpo do Conteúdo", h(@content.body) %>

	<%= cell_separator %>
	
	<%= cell "Data Criação", @content.created_at.to_s(:long) %>
	<%= cell "Última actualização", @content.updated_at.to_s(:long) %>
</table>

<%= link_to 'Edit', edit_admin_content_path(@content) %> | <%= link_to 'Voltar ', admin_contents_path %>

