<% content_for :header do -%>
	Ver Texto 
<% end -%>

<% content_for :sidebar do -%>
	<%= render :partial => 'help' %>
<% end -%>

<table class="overview">
	<%= cell "ID", h(@content.id) %>
	<%= cell_separator %>
 
	<%= cell "Link Permanente", h(@content.permalink) %> 
	<%= cell "Estado", human_state(@content.state) %>  
	<%= cell "Nome pt", h(@content.name_pt) %> 
	<%= cell "Nome en", h(@content.name_en) %> 
	<%= cell "Corpo pt", @content.body_pt %> 
	<%= cell "Corpo en", @content.body_en %> 

	<%= cell_separator %>
	
	<%= cell "Data de criação", data_pt(@content.created_at ) %>
	<%= cell "Última actualização", data_pt(@content.updated_at ) %>
</table>

<%= link_to 'Editar', edit_admin_content_path(@content) %> | <%= link_to t('go_back'), admin_contents_path %>

