<% content_for :header do -%>
	Ver conteúdos para <%= configatron.site_name %>
<% end -%>

<% content_for :sidebar do -%>
	<%= render :partial => 'help' %>
<% end -%>

<table class="overview">
	<%= cell "ID", h(@content.id) %>
	<%= cell_separator %>

	<%= cell "Nome", h(@content.name) %>
	<%= cell "Permalink", h(@content.permalink) %>
	<%= cell "Corpo do Conteúdo", h(@content.body) %>

	<%= cell_separator %>
	
	<%= cell "Data de criação", data_pt(@content.created_at ) %>
	<%= cell "Última actualização", data_pt(@content.updated_at ) %>

</table>

<%= link_to 'Edit', edit_admin_content_path(@content) %> | <%= link_to 'Voltar ', admin_contents_path %>

