<% content_for :header do -%>
	<%= t('login.edit_email_title')%>
<% end -%>

<% form_for :user, @user, :url => update_email_user_url(@user), :html => {:method => :put} do |f| %>

	<%= t('login.edit_email_text')%>
	<p><%= text_field_tag 'email', '', :size => 20 %></p>

	<p><%= submit_tag t('login.save_email') %> ou <%= link_to "voltar atrás", profile_url(@user) %></p>
	
<% end %>
