<% content_for :header do -%>
	Alterar a minha password
<% end -%>

<% form_for :user, @user, :url => update_password_user_url(@user), :html => {:method => :put} do |f| %>

	<h3>Password actual</h3>

	<p>Para prevenir abusos, insira a sua password actual.</p>

	<p><%= password_field_tag 'current_password', '', :size => 20 %></p>

	<h3>A sua nova password</h3>

	<p>Por favor insira a sua nova password (e confirmação) em baixo.</p>

	<p><%= password_field_tag 'new_password', '', :size => 20 %></p>

	<p><%= password_field_tag 'new_password_confirmation', '', :size => 20 %></p>

	<p><%= submit_tag "Alterar a minha password" %> ou <%= link_to "voltar atrás", profile_url(@user) %></p>
	
<% end %>