<% content_for :header do -%>
	<%= t('login.alter_pass_title')%>
<% end -%>

<% form_for :user, @user, :url => update_password_user_url(@user), :html => {:method => :put} do |f| %>

	<h3><%= t('login.pass_today')%></h3>
	<p><%= t('login.insert_pass')%></p>
	<p><%= password_field_tag 'current_password', '', :size => 20 %></p>

	<h3><%= t('login.insert_pass')%></h3>
	<p><%= t('login.insert_new_pass')%></p>

	<p><%= password_field_tag 'new_password', '', :size => 20 %></p>

	<p><%= password_field_tag 'new_password_confirmation', '', :size => 20 %></p>
	<p><%= submit_tag "#{t('login.alter_my_pass')}" %> ou <%= link_to t('go_back'), profile_url(@user) %></p>
	
<% end %>