<% content_for :header do -%>
	Recuperar Login
<% end -%>

<% unless @user.nil? %>
	<p>Será enviado um e-mail com o login do site <%= configatron.site_name %> para o e-mail <em><%= @user.email %></em>.</p>
	
	<div id="submitbutton">
		<p><%= link_to "Login agora &raquo;", login_url %></p>
	</div>
<% else %>
	<p>Por favor insira o e-mail associado com a conta pretendida. Será enviado um e-mail com o login em breve.</p>

	<% form_tag user_forgot_login_url, :method => :put do %>
		<p><label>Endereço de e-mail</label><br />
		<%= text_field_tag :email %></p>
	
		<div id="submitbutton">
			<p><%= submit_tag 'Envia-me o meu login &raquo;' %></p>
		</div>
	<% end %>
<% end %>