<% content_for :header do -%>
	Recuperar Password
<% end -%>

<% unless @user.nil? %>
	<% if @user.active? %>
		<p>Foi enviado um e-mail com mais informações para <em><%= @user.email %></em>.</p>
		<p>Siga as instruções para recuperar a password da sua conta.</p> 
	<% else %>
		<p>A conta não está activa. Só pode reiniciar a password quando activar a conta.</p>
		<p>Contacte <%= configatron.support_name %> em <%= secure_mail_to configatron.support_email %> para mais ajuda.</p>
	<% end %>
<% else %>
	<p>Por favor insira o e-mail ou login associado à conta. Será enviado um e-mail com instruções para recuperar a password.</p>

	<% form_tag user_forgot_password_url, :method => :put do %>
		<p><label>Endereço de e-mail ou login</label><br />
		<%= text_field_tag :email_or_login %></p>
	
		<div id="submitbutton">
			<p><%= submit_tag 'Recuperar a minha password &raquo;' %></p>
		</div>
	<% end %>
<% end %>