<% content_for :header do -%>
	<%= t('login.recup_login_title')%>
<% end -%>

<% unless @user.nil? %>
	<p><%= t('login.recup_login_text', :email=>@user.email)%></p>
	
	<div id="submitbutton">
		<p><%= link_to "Login &raquo;", login_url %></p>
	</div>
<% else %>
	<p><%= t('login.recup_login_enter_email')%></p>

	<% form_tag user_forgot_login_url, :method => :put do %>
		<p><label>E-mail</label><br />
		<%= text_field_tag :email %></p>
	
		<div id="submitbutton">
			<p><%= submit_tag "#{t('login.send_me')}login &raquo;" %></p>
		</div>
	<% end %>
<% end %>