<% content_for :header do -%>
	<%= t('login.recup_pass_title')%>
<% end -%>

<% unless @user.nil? %>
	<% if @user.active? %>
		<%= t('login.forgot_pass_active', :email=> @user.email)%>
	<% else %>
		<%= t('login.forgot_pass_not', :support=>configatron.support_name, :email=>secure_mail_to(configatron.support_email))%>
	<% end %>
<% else %>
	<%= t('login.forgot_pass_text')%>
	<% form_tag user_forgot_password_url, :method => :put do %>
		<p><label><%= t('login.forgot_pass_email')%></label><br />
		<%= text_field_tag :email_or_login %></p>
		<div id="submitbutton">
			<p><%= submit_tag t('login.forgot_pass_recuv_pass') %></p>
		</div>
	<% end %>
<% end %>