<% content_for :header do -%>
	<%= t('login.recup_pass_title')%>
<% end -%>

<% unless @user.nil? || !@user.active? %>
	<p><%= t('login.recup_pass')%></p>
	<p><strong><%= t('login.recup_pass_text')%></strong></p>
	<div id="submitbutton"><p><%= link_to "Login &raquo;", login_url %></p></div>
<% else %>
	<p><%= t('login.recup_pass_error')%></p>
	<p><%= t('login.recup_pass_text', :contact=>configatron.support_name, :email=>secure_mail_to(configatron.support_email))%></p>
<% end %>