<% content_for :header do -%>
	Ajuda
<% end -%>

<p>
	Está com problemas em entrar no <%= configatron.site_name %>? Qual destas opções reflecte a sua situação?
</p>

<ul>
	<li><%= link_to "Não me lembro da minha password", user_forgot_password_url %></li>
	<li><%= link_to "Esqueci-me do login mas eu sei o meu meu e-mail", user_forgot_login_url %></li>
	<li><%= link_to "Não me lembro do login, e-mail ou password!", user_clueless_url %></li>
</ul>

<p>
	<%= link_to "&laquo; Voltar atrás", login_url %>
</p>