<% content_for :header do -%>
	<%= t('login.help_title')%>
<% end -%>
<p><%= t('login.help_text', :site=>configatron.site_name)%></p>
<ul>
	<li><%= link_to t('login.help_pass'), user_forgot_password_url %></li>
	<li><%= link_to t('login.help_login'), user_forgot_login_url %></li>
	<li><%= link_to t('login.help_none'), user_clueless_url %></li>
</ul>
<p><%= link_to "#{t('go_back')}", login_url %></p>