<%% content_for :header do -%>
	 <%= file_name.capitalize -%>
<%% end -%>

<%% content_for :sidebar do -%>
	<p class="cssbutton">
		<%%= link_to '<span>Novo <%= file_name.capitalize -%></span>', new_admin_<%= file_name -%>_path %>
	</p>
<%% end -%>

<table class="index tablesorter" id="mytable">
<thead>
  <tr>
<%- for attribute in attributes -%>
	<th><%= attribute.name %></th>
<%end%>
  </tr>
</thead>
<thbody>
<%% for <%= file_name -%> in @<%= file_name.pluralize -%> %>
  <tr>
	<%- file_name.capitalize.camelize.constantize.columns.reject do |attribute| -%>
		<td><%= h attribute.name  %></td>
	<%end%>	
	<td class="actions">
		<%%= link_to 'Editar', edit_admin_<%= file_name -%>_path(<%= file_name -%>) %>
		<%%= link_to 'Apagar', admin_<%= file_name -%>_url(<%= file_name -%>), :method => :delete, :confirm => "Tem a certeza?" %>		
	</td>
  </tr>
<%% end %>
</thbody>
</table>
<%%= render :partial=>"/admin/shared/table_sorter_jquery"%>

<%%= will_paginate @<%= file_name.pluralize -%> %>

