<%% content_for :header do -%>
	Ver <%= file_name.capitalize -%> de <%%= configatron.site_name %>
<%% end -%>

<%% content_for :sidebar do -%>
	<%%= render :partial => 'help' %>
<%% end -%>

<table class="overview">
	<%%= cell "ID", h(@<%= file_name -%>.id) %>
	<%%= cell_separator %>

	<%- file_name.capitalize.camelize.constantize.columns.reject do |attribute| -%>
		<%%= cell "Nome", h(@<%= attribute.name %>) %> 
	<%- end -%>

	<%%= cell_separator %>
	
	<%%= cell "Data de criação", data_pt(@<%= file_name -%>.created_at ) %>
	<%%= cell "Última actualização", data_pt(@<%= file_name -%>.updated_at ) %>
</table>

<%%= link_to 'Editar', edit_admin_<%= file_name -%>_path(@<%= file_name -%>) %> | <%%= link_to t('go_back'), admin_<%= file_name.pluralize -%>_path %>

