<% content_for :header do -%>
	<%= t("news.news_archive_title") %>
<% end -%>
 

<% content_for :sidebar do -%>
	<%= render :partial=> "/news/recent" %>
<% end -%>

<% for news in @news %>
	<h3><%= link_to h(news.name), news_path(news.permalink) %></h3>
	<p><small><%= data_pt news.created_at %></small> <%= h news.lead %><br/> </p>
<%end%>

<%= will_paginate @news%>
