<% content_for :header do -%>
	 Tema
<% end -%>

<% content_for :sidebar do -%>
	<p class="cssbutton">
		<%= link_to '<span>Novo Tema</span>', new_admin_theme_path %>
	</p>
	<%= render :partial=>'help' %>
<% end -%>

<% render :layout => "/admin/shared/table_header" do %>
	<th><%= link_to_sort(Theme.human_attribute_name(:name), :name) %></th>
	<th><%= link_to_sort(Theme.human_attribute_name(:controller), :controller) %></th>
	<th><%= link_to_sort(Theme.human_attribute_name(:created_at), :created_at) %></th>
<% end %>
<thbody>
<% @themes.each do |theme| %>
  <tr>
	<td><%= theme.name %></td>
	<td><%= theme.controller %></td>
	<td><%= data_pt theme.created_at %></td>
	<td class="actions">
		<%= link_to 'Editar', edit_admin_theme_path(theme) %>
		<%= link_to 'Apagar', admin_theme_url(theme), :method => :delete, :confirm => "Tem a certeza?" %>		
	</td>
  </tr>
<% end %>
</thbody>
</table> 
<%= will_paginate @themes %>