<% content_for :header do -%>
	Ver Tema 
<% end -%>

<% content_for :sidebar do -%>
	<%= render :partial => 'help' %>
<% end -%>

<table class="overview">
	<%= cell "ID", h(@theme.id) %>
	<%= cell_separator %>

	<%= cell Theme.human_attribute_name(:id), h(@theme.id) %> 
	<%= cell Theme.human_attribute_name(:name), h(@theme.name) %> 
	<%= cell Theme.human_attribute_name(:controller), h(@theme.controller) %> 

	<%= cell_separator %>
	
	<%= cell "Data de criação", data_pt(@theme.created_at ) %>
	<%= cell "Última actualização", data_pt(@theme.updated_at ) %>
</table>

<%= link_to 'Editar', edit_admin_theme_path(@theme) %> | <%= link_to t('go_back'), admin_themes_path %>

