<% content_for :header do -%>
	Ver imagem de <%= h @gallery.name %>
<% end -%>

<% content_for :sidebar do -%>
	<%= render :partial => 'help' %>
<% end -%>

<table class="overview">
	<%= cell "ID", h(@image.id) %>
	<%= cell_separator %>

	<%= cell "Nome", h(@image.name) %>
	<%= cell "Descrição", @image.description %>
	<%= cell_separator %>
	
	<%= cell "Imagem",  image_tag(@image.image.url(:small)) %>
			
	<%= cell_separator %>
	
	<%= cell "Data de criação", data_pt(@image.created_at ) %>
	<%= cell "Última actualização", data_pt(@image.updated_at ) %>
</table>

<%= link_to 'Editar', edit_admin_gallery_image_path(@gallery, @image) %> | <%= link_to 'Voltar ', admin_gallery_images_path(@gallery) %>

