<% content_for :header do -%>
	<%= configatron.site_name %> Utilizadores
<% end -%>

<% content_for :sidebar do -%>
<p class="cssbutton">
	<%= link_to '<span>Novo Utilizador</span>', new_admin_user_path %>
</p>

	<h2>Acesso Rápido</h2>
	<ul>
		<li><%= link_to "Ver Todos", admin_users_url %></li>
		<li><%= link_to "Utilizadores Activos", active_admin_users_url %></li>
		<li><%= link_to "Utilizadores suspensos", suspended_admin_users_url %></li>
		<li><%= link_to "Utilizadores pendentes", pending_admin_users_url %></li>
		<li><%= link_to "Utilizadores apagados", deleted_admin_users_url %></li>
	</ul>
<% end -%>

<table class="index tablesorter" id="mytable">
<thead>
  <tr class="tablehead">
	<th>ID</th>
	<th>Login</th>
	<th>E-mail</th>
	<th>Estado</th>
  </tr>
</thead>
<thbody>
<% # TODO: (base_app) Add some sort of search feature to easily find users %>
<% for user in @users %>
  <tr>
	<td><%=h user.id %></td>
	<td><%= link_to h(user.login), admin_user_url(user) %></td>
	<td><%=h user.email %></td>
	<td><%=h user.state %></td>
    <td class="actions">
		<% if user.pending? %>
			<%= link_to 'Activar', activate_admin_user_url(user), :method => :put %>
			<%= link_to 'Suspender', suspend_admin_user_url(user), :method => :put %>
			<%= link_to 'Apagar', admin_user_url(user), :method => :delete, :confirm => "Are you sure?" %>
		<% elsif user.passive? %>
			<%= link_to 'Activar', activate_admin_user_url(user), :method => :put %>
			<%= link_to 'Suspender', suspend_admin_user_url(user), :method => :put %>
			<%= link_to 'Apagar', admin_user_url(user), :method => :delete, :confirm => "Are you sure?" %>
		<% elsif user.active? %>
			<%= link_to 'Suspender', suspend_admin_user_url(user), :method => :put %>
			<%= link_to 'Apagar', admin_user_url(user), :method => :delete, :confirm => "Are you sure?" %>
		<% elsif user.suspended? %>
			<%= link_to 'Ressuscitar', unsuspend_admin_user_url(user), :method => :put %>
			<%= link_to 'Apagar', admin_user_url(user), :method => :delete, :confirm => "Are you sure?" %>		
		<% end %>
	</td>
  </tr>
<% end %>
</thbody>
</table>
<%= render :partial=>"/admin/shared/table_sorter_jquery"%>

<%= will_paginate @users %>

