<ul>
	<% if Setting.count > 0 %>
	<li style="float: right;"><%= tab_to "Definições", [{:controller => "admin/settings"}] %></li>
	<% end %>
	
	<li><%= tab_to "<img src='/images/icons/house.png' alt='icon' class='icon'/> Dashboard", [{:controller => "admin/dashboard"}] %></li>
	<li><%= tab_to "<img src='/images/icons/layout.png' alt='icon' class='icon'/> Páginas", [{:controller => "admin/pages"}] %></li>
	<li><%= tab_to "<img src='/images/icons/calendar.png' alt='icon' class='icon'/> Notícias", [{:controller => "admin/news"}] %></li>
	<li><%= tab_to "<img src='/images/icons/script.png' alt='icon' class='icon'/> Conteúdos", [{:controller => "admin/contents"}] %></li>
	<li><%= tab_to "<img src='/images/icons/world.png' alt='icon'  class='icon'/> Linguagens", [{:controller => "admin/languages"}] %></li>
	<li><%= tab_to "<img src='/images/icons/user_orange.png' alt='icon'  class='icon'/> Utilizadores", [{:controller => "admin/users"}] %></li>
</ul>